Parte2/ShoppingServiceProject/SOA/Schemas/Gestor.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/ShoppingService/ShoppingServiceProject/Gestor"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="process">
		<complexType>
			<sequence>
				<element name="producto" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="processResponse">
		<complexType>
			<sequence>
				<element name="producto" type="string"/>
    <element name="precio_original" type="float"/>
    <element name="precio_final" type="float"/>
    <element name="mensaje" type="string"/>
   </sequence>
		</complexType>
	</element>
</schema>