Parte2/ShoppingServiceProject/SOA/Schemas/Vendedor.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/ShoppingService/ShoppingServiceProject/Vendedor"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="process">
		<complexType>
			<sequence>
				<element name="oferta" type="float"/>
			</sequence>
		</complexType>
	</element>
	<element name="processResponse">
		<complexType>
			<sequence>
				<element name="contraoferta" type="float"/>
			</sequence>
		</complexType>
	</element>
</schema>